.list {
    justify-content: space-between;
    border: 1px solid #cd5f45;
    display: flex;
    color: #cd5f45;
    margin-top: 20px;
    overflow-y: auto;
}

.list p {
    width: 80%;
    padding: 5px;
    display: flex;
    align-items: center;
    word-break: break-all;
}

.list > label {
    width: 10%;
    cursor: pointer;
    border-right: 1px solid #cd5f45;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_box {
    display: flex;
}

.btn {
    background-color: unset;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 2px;
}

.check_box {
    display: none;
}

.checked {
    color: grey;
    text-decoration-line: line-through;
}

.text_box {
    display: flex;
    align-items: center;
}

.filter_container {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0;
    color: #fcf8d5;
}

.category {
    border: 1px dotted;
    padding: 5px;
    /* background-color: #bacdd3; */
    border: none;
    cursor: pointer;
}

.edit_input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 250px;
}
