.weather_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #bacdd3;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin-top: 20px;
}

.weather_top {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(235, 251, 255, 0.4);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 15px;
    gap: 10px;
}

.weather_bottom {
    display: flex;
    flex-direction: column;
    color: gray;
    width: 100px;
    padding: 15px;
    font-size: 12px;
}

.country {
    display: flex;
}

.arrow {
    font-size: 15px;
    margin: 7px 0 0 5px;
    color: #e6749d;
}

.description {
    margin-top: 10px;
}
