.wrap {
    width: 100%;
    height: 100vh;

    background-color: #eed9d4;
}

.wrap_container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.container {
    min-width: 400px;
    max-width: 400px;
    margin-left: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 50px;
    /* height: 500px; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: #f5d08a;
}

.input {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input input {
    width: 85%;
    height: 25px;
    padding: 5px 8px;
    background-color: unset;
    border: 1px dashed black;
}

.plusButton {
    border: none;
    background-color: unset;
    font-size: 24px;
    cursor: pointer;
    padding: 0;
}

.plusButton:hover {
    font-size: 26px;
}

.date {
    display: flex;
    gap: 10px;
}

.date_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 26px;
    font-weight: 700;
}

.day {
    font-size: 80px;
    font-weight: bold;
}

.todo-box {
    height: 350px;
    overflow-y: auto;
}

.todo-box::-webkit-scrollbar {
    width: 12px;
}

.todo-box::-webkit-scrollbar-thumb {
    background-color: #cd5f45;
    border-radius: 20px;
}

.todo-box::-webkit-scrollbar-track {
    background-color: lightgray;
    margin: 14px 0px;
    border-radius: 20px;
}

.filter_container {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0;
}

.category {
    list-style-type: none;
}

.filter_btn:focus {
    color: white;
    font-weight: bold;
}

.filter_btn:hover {
    color: white;
}

.filter_btn {
    border: none;
    padding: 6px;
    background-color: #e6749d;
    cursor: pointer;
}

.clear_btn {
    border: none;
    padding: 8px;
    cursor: pointer;
    background-color: #bacdd3;
    color: black;
}

.clear_btn:hover {
    color: white;
}

.btn_wrap {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.right_container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.right_wrap {
    width: 210px;
}
